font-face {
  src:url('../font/Roboto-Regular.ttf');
  font-family: 'Roboto';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background-color: black;
  color: white;
  height: 98vh;
}
.pacman {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f2d648;
  position: relative;
  margin-top: 20px;
}
.pacman_eye {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 20px;
  right: 40px;
}
.pacman_mouth {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
}





