font-face {
    src:url('../font/Roboto-Regular.ttf');
    font-family: 'Roboto';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background-color: rgb(6, 6, 116);
    color: white;
    height: 98vh;
}
header {
    height: 10%;
    width: 100%;
}
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    background-color: rgb(255, 255, 91);
    color:rgb(255, 55, 55);
    border-radius: 20px;
    padding: 6px;
}
a:hover {
    background: #F6F9FE;
}
a:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}
a:focus {
    outline: none;
    border: 2px solid #5d6a80;
}
a:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
main {
    height: 85%;
    display : flex;
    justify-content: center;
    align-items: center;
}
footer {
    height: 5%;
    text-align: center;
    color: rgb(255, 255, 0);
}