font-face {
  src:url('../font/Roboto-Regular.ttf');
  font-family: 'Roboto';
}
body {
  background: #000;
  font-family: 'Roboto';
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  height: 98vh;
  justify-content: center;
  align-items: center;
}
.pacman {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f2d648;
  position: relative;
  margin-top: 20px;
}
.pacman_eye {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 20px;
  right: 40px;
  background: #333333;
}
.pacman_mouth {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
}