@font-face {
    src:url('../font/script1-script-casual-normal.ttf');
    font-family:'Script';
}
@font-face {
    src:url('../font/DancingScript-Regular.otf');
    font-family:'Dancing';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Script';
    background-color: rgb(6, 6, 116);
    color:#FEF202;
    height: 100vh;
}
header {
    height: 10%;
    width: 100%;
}
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    background-color:#FEF202;
    color: rgb(6, 6, 116);
    border-radius: 20px;
    padding: 10px;
}
a:hover {
    transition: all 0.1s;
    transform: scale(1.125);
    background:  #9c1805;
    color:#FEF202;
    cursor: pointer;
    border: 1px solid #FEF202;
}
h1 {
    font-family: 'Dancing';
    text-align: center;
}
main {
    height: 85%;
    display : flex;
    justify-content: center;
    align-items: center;
}
#logo {
    height: 100%;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0px;
    height: 5%;
    color:#FEF202;
}
.banniere-container {
	background-color: #9c1805;
    height: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.banniere {
	line-height: 5%;
    font-weight: 600;
	padding: 4px;
    color:#FEF202;
	white-space: nowrap;
	animation: mouvement 30s infinite linear;
}
.banniere:after {
	content: "---- (+33) 980-980-930 ---- CALL PAUL NOW! ---- (+33) 980-980-930 ---- CALL PAUL NOW! ---- (+33) 980-980-930 ---- CALL PAUL NOW! ---- (+33) 980-980-930 ---- CALL PAUL NOW!";
}
@keyframes mouvement {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}