@font-face {
    src:url('../font/script1-script-casual-normal.ttf');
    font-family:'Script';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Script';
    background-color:rgb(116, 6, 6);
}
header {
    height: 10%;
    width: 100%;
}
nav {
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    background-color: #FEF202;
    color: rgb(116, 6, 6);
    border-radius: 20px;
    padding: 10px;
}
a:hover {
    transition: all 0.1s;
    transform: scale(1.15);
    background-color: rgb(6, 6, 116);
    color: #FEF202;
    cursor: pointer;
    border: 1px solid #FEF202;
}
main {
    height: 85%;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h2 {
    color: #FEF202;
    margin: 10px;
}
.container {
    width: 85%;
    height : 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #d1d7e0;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: inset 14.71px 14.71px 15px #D9DADE, inset -14.71px -14.71px 15px #FFFFFF;
}
.box {
    width: 90%;
    height: 10%;
    margin: 20px;
    background: white;
    border-radius: 20px;
    border: 1px solid green;
}

footer {
    height: 5%;
    text-align: center;
}

.box {
    width: 90%;
    height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.box:after {
	position: absolute;
	top:0;
	left: 0;
	right:0;
	bottom: 0;
    background: linear-gradient(135deg, #a29ca9 0%,#95909b 99%);
	content: '';
	opacity: 0;
	transition: opacity 0.9s ease 0s; 
}
.box:hover:after{
	opacity: 0.4;
}
.box p {
	color: white;
	font-size: 50px;
	letter-spacing: 2px;
	transition: all 0.15s ease 0s; 
	position: relative;
	z-index: 10;
}
.box:hover h1{
	transform: translateY(-10px);
}

@media screen and (min-width: 941px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box {
        width: 45%;
    }
}


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a29ca9+0,95909b+99 */