@font-face {
    src:url('../font/script1-script-casual-normal.ttf');
    font-family:'Script';
}
@font-face {
    src:url('../font/DancingScript-Regular.otf');
    font-family:'Dancing';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Script';
    background-color:rgb(116, 6, 6);
}
header {
    height: 10%;
    width: 100%;
}
nav {
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    background-color: #FEF202;
    color: rgb(116, 6, 6);
    border-radius: 20px;
    padding: 10px;
}
a:hover {
    transition: all 0.1s;
    transform: scale(1.15);
    background-color: rgb(116, 6, 6);
    color: #FEF202;
    cursor: pointer;
    border: 1px solid #FEF202;
}
main {
    height: 85%;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titres {
    font-family: 'Dancing';
    text-align: center;
    color: #FEF202;
}
.titres :last-child {
    margin: 10px;
    animation: appear 20s linear 1;
}
.container {
    width: 85%;
    height : 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.8;
    background-color: #7f2929;
    border-radius: 20px;
    box-shadow: inset 12.91px 12.91px 15px #6A2222, inset -12.91px -12.91px 15px #8C2E2E;
}
.box {
    width: 90%;
    height: 10%;
    margin: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
    border-radius: 15px;
    background-color: white;
}
.box:after {
	position: absolute;
	top:0;
	left: 0;
	right:0;
	bottom: 0;
    background-color:lightslategrey;
    border-radius: 15px;
	content: '';
	opacity: 0;
	transition: opacity 0.9s ease 0s; 
}
.box:hover:after{
	opacity: 0.4;
}
.box p {
	color: #7f2929;
	transition: all 0.15s ease 0s; 
	position: relative;
	z-index: 1;
}
.box img {
    z-index: 1;
}
/* .box:hover img{
	transform: translateY(50px);
} */

footer {
    height: 5%;
    color: #FEF202;
    font-weight: lighter;
    text-align: center;
}

@keyframes appear {
    From {  
        color:rgb(116, 6, 6);
    }
    To {
        color: #FEF202;
    }
}

@media screen and (min-width: 941px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box {
        width: 45%;
    }
}