@font-face {
    src:url('../font/script1-script-casual-normal.ttf');
    font-family:'Script';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Script';
    background-color: rgb(72, 0, 121);
    height: 98vh;
}
header {
    height: 10%;
    width: 100%;
}
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    background-color: rgb(255, 255, 91);
    color:rgb(72, 0, 121);
    border-radius: 20px;
    padding: 10px;
}
a:hover {
    transition: all 0.1s;
    transform: scale(1.125);
    background: rgb(72, 0, 121);
    color:  rgb(255, 255, 91);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 91);
}
main {
    height: 85%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.pacman {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f2d648;
    position: relative;
    margin-top: 20px;
}
.pacman_eye {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 20px;
    right: 40px;
    background-color: rgb(72, 0, 121);
}
.pacman_mouth {
    background-color: rgb(72, 0, 121);
    position: absolute;
    width: 105%;
    height: 100%;
    clip-path: polygon(100% 74%, 48% 50%, 100% 25%);
}


footer {
    height: 5%;
    text-align: center;
    color: white;
}