
body {
    font-family: 'Script';
    background-color: black;
}
header {
    height: 10%;
    width: 100%;
}
nav {
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    background-color: #FEF202;
    color:black;
    border-radius: 20px;
    padding: 10px;
}
nav a:hover {
    transition: all 0.1s;
    transform: scale(1.25);
    background: black;
    color: #FEF202;
    border: 1px solid #FEF202;
}
.titres {
    font-family: 'Dancing';
    text-align: center;
    color: #FEF202;
}
.titres :last-child {
    margin: 10px;
    animation: appear 20s linear 1;
}
section:nth-of-type(2) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aside {
    display: none;
    width: 35%;
}
form {
    color: white;
    border: 1px solid white;
    padding : 20px;
}
label:nth-of-type(5) {
    margin-right: 30px;
}
textarea {
    resize: none;
}
input:last-of-type {
    width: 30%;
    margin-left: 35%;
}

.pacman {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FEF202;
    margin: 20px;
}
.pacman_eye {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 20px;
    right: 40px;
    background-color: black;
}
.pacman_mouth {
    background-color: black;
    position: absolute;
    width: 105%;
    height: 100%;
    clip-path: polygon(100% 74%, 48% 50%, 100% 25%);
    animation: eat 3s ease-in-out 5s infinite;
}
.volume {
    top: 0px;
    left: 220px;
    width: 40px;
    height: 40px;
    position: relative;
    perspective: 1000px;
    z-index : 1;
}
.caroussel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: tournicoti 4s linear infinite;
}
.littleBox {
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    position:absolute;
    text-align: center;
    width: 30px;
    height : 30px;
    line-height: 30px;
  }
#Box1 {
    transform: rotateY(0deg) translateZ(50px);
}
#Box2 {
    transform: rotateY(60deg) translateZ(50px);
}
#Box3 {
    transform: rotateY(120deg) translateZ(50px);
}
#Box4 {
    transform: rotateY(180deg) translateZ(50px);
}
#Box5 {
    transform: rotateY(240deg) translateZ(50px);
}
#Box6 {
    transform: rotateY(300deg) translateZ(50px);
}

@keyframes tournicoti {
    0% {
        transform : rotateZ(5deg);
    }
    33% {
        transform : rotateY(120deg) rotateZ(5deg);
    }
    66% {
        transform : rotateY(240deg) rotateZ(5deg);
    }
    100% {
        transform : rotateY(360deg) rotateZ(5deg);
    }
}
.aside:first-of-type img {
    transform: rotateY(180deg) translateY(-70px) translateX(10px);
}
.aside:first-of-type .pacman {
    transform: rotateZ(-60deg) translateY(60px) translateX(10px);
}

.icones {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.icones img {
    padding: 10px;
    margin: 10px;
}
.icones img:hover {
    transition: all 0.1s;
    transform: scale(1.25);
}
footer {
    height: 5%;
    width: 100%;
    text-align: center;
    color: white;
    margin: 10px;
}

@keyframes appear {
    From {  
        color: black;
    }
    To {
        color: #FEF202;
    }
}
@keyframes eat {
    0% {
        clip-path: polygon(100% 25%, 48% 50%, 100% 74%);
    }
    25% {
        clip-path: polygon(100% 49%, 48% 50%, 100% 51%);
    }
    37% {
        clip-path: polygon(100% 45%, 48% 50%, 100% 55%);
    }
    50% {
        clip-path: polygon(100% 49%, 48% 50%, 100% 51%);
    }
    67% {
        clip-path: polygon(100% 45%, 48% 50%, 100% 55%);
    }
    75% {
        clip-path: polygon(100% 49%, 48% 50%, 100% 51%);
    }
    100% {
        clip-path: polygon(100% 25%, 48% 50%, 100% 74%);
    }
}

@media screen and (min-width: 941px) {
    .aside {
        display: flex;
        justify-content: center;
    }
}